body {
  background: #3F3F3F;
  margin: 0;
}

.share__icon {
  width: 32px;
  height: 32px;
  fill: #fff;
  display: inline-block;
  vertical-align: top;
  margin-right: 3px;
}

.share__icon:last-of-type {
  margin-right: 0px;
}

.share-button {
  cursor: pointer;
  display: inline-block;
  height: 42px;
  position: absolute;
  top: 5%;
  transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  left: 70%;
  -webkit-perspective: 200px;
  -moz-perspective: 200px;
  perspective: 200px;
}

.share-button__back {
  background-color: #368b8b;
  padding: 5px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.1) inset;
}

.share-button__front {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center top;
  -webkit-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: all .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
}

.share-button__text {
  margin: 0;
  line-height: 42px;
  font-size: 16px;
  text-align: center;
  color: #b6b6b6;
}

.share__link {
  position: relative;
  top: 40px;
  display: inline-block;
  opacity: 0;
  -webkit-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -moz-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -ms-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -o-transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: top .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.share-button:hover .share-button__front {
  transform: rotateX(90deg);
}

.share-button:hover .share__link {
  top: 0;
  opacity: 1;
}

.share-button:hover .share__link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.share-button:hover .share__link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.share-button:hover .share__link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.share-button:hover .share__link:nth-of-type(4) {
  transition-delay: 0.4s;
}

main {
  background: #EFEFEF;
  margin: 2em auto;
  max-width: 1024px;
}

header {
  padding: 2px 16px;
}

/*h1 {
  font-size: 1.5em;
}
.code {
  font-family: monospace;
}
.emoticon {
  font-family: sans-serif;
}

.details {
  border-color: #DFDFDF #AFAFAF #AFAFAF #DFDFDF;
  border-style: solid;
  border-width: 1px 2px 2px 1px;
  padding: 8px 6px;
}
.details:nth-child(2n) {
  background: #FFFFFF;
}
.details:nth-child(2n + 1) {
  background: #EFEFEF;
}
.active-details,
.hover-details {
  padding: 8px 6px;
}
.toggle:focus {
  box-shadow: inset 0 0 2px 0 #3AF;
}
input[type="checkbox"] {
  position: absolute !important;
  display: block !important;
  overflow: hidden !important;
  clip: rect(0,0,0,0) !important;
  padding: 0 !important;
  margin: -1px !important;
  height: 1px !important;
  width: 1px !important;
  top: 0 !important;
  left: -999em !important;
}
.toggle {
  cursor: pointer;
  display: block;
  position: relative;
  font-size: 1.0625em;
  font-weight: bold;
  padding: 4px 8px 4px 24px;
  margin: 0;
  z-index: 1;
}
.toggle:before {
  content: "";
  position: absolute;
  border-color: transparent transparent transparent #333;
  border-style: solid;
  border-width: 5px 8px;
  margin-top: -8px;
  top: 50%;
  left: 8px;
  transform-origin: 25% 50%;
  transition: transform 200ms;
}
input[type="checkbox"]:checked + .toggle:before {
  transform: rotate(90deg);
}

.content,
.active-content,
.hover-content {
  display: none;
  padding: 0 16px;
}
input[type="checkbox"]:checked + .toggle + .content,
.active-details:active .active-content,
.hover-details:hover .hover-content {
  display: block;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  background: #332;
  color: #F8FFFF;
  padding: 6px 12px 12px;
}

.red     { color: #F37; }
.orange  { color: #FA3; }
.yellow  { color: #FF7; }
.green   { color: #AE4; }
.cyan    { color: #8DF; }
.blue    { color: #48F; }
.purple  { color: #C7F; }
.gray    { color: #999; }

.preview {
  border: 4px inset #C73;
}
.preview .details,
.preview .active-details,
.preview .hover-details {
  background: #CEF;
  border: 0;
}
.score {
  font-family: sans-serif;
  font-weight: bold;
}


#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
